<%# ${path.static} is css/js/imageの相対パス  %>
<% include(`${path.ejs}/_function/_index`) -%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include(`${path.comp}/_head`) -%>
</head>


<body>
  <div class="wrapper">
    <%- include(`${path.comp}/_header`) -%>
    <main>
      <p>アイコン実装サンプル</p>
      <span class="my-icon"></span>
      <p>ファイル一覧サンプル</p>
      <%- files %>
      <p>関数サンプル</p>
      <%- func.fnc01() %>
    </main>
    <%- include(`${path.comp}/_footer`) -%>
  </div>
</body>


</html>
